*{
  box-sizing: border-box;;
  margin: 0px;
  font-family: sans-serif;
}

.container {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(236, 233, 233);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form {
  display: flex;
}

#search-icon {
  width: 30px;
}

.unit-switch{
  display:flex;
  padding: 0px 10px;
  cursor: pointer;
}

.unit-switch * {
  padding: 5px 15px;
}

.unit-bordered {
  border: 2px solid black;
  border-radius: 4px;
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(26, 26, 40);
  color: white;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.location {
  font-size: 34px;
}

.temp-now {
  font-size: 62px;
}

.weather-icon {
  width: 80px;
}

.forecast-week {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.weather-row {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 8px;
}

.weather-row * {
  flex: 1 1 0px;
}

.row-weather-icon {
  max-width: 100px;
  padding:0px 20px;
}

.rain-chance {
  font-size: 14px;
}